.env


# Dependencies
node_modules/

# Nx
.nx/cache
.nx/workspace-data
tmp/
dist/

# Env files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/